<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buy_nobles_btn_buy_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,847},{190,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,62}}</string>
                <key>sourceSize</key>
                <string>{190,62}</string>
            </dict>
            <key>buy_nobles_btn_close_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,847},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>buy_nobles_btn_more_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,847},{190,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,62}}</string>
                <key>sourceSize</key>
                <string>{190,62}</string>
            </dict>
            <key>buy_nobles_btn_select_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,911},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>buy_nobles_btn_select_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,911},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>buy_nobles_gift_bag_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,847},{58,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,40}}</string>
                <key>sourceSize</key>
                <string>{58,40}</string>
            </dict>
            <key>buy_nobles_icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,911},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>buy_nobles_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{844,525}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{844,525}}</string>
                <key>sourceSize</key>
                <string>{844,525}</string>
            </dict>
            <key>buy_nobles_txt_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,911},{57,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,30}}</string>
                <key>sourceSize</key>
                <string>{57,30}</string>
            </dict>
            <key>buy_nobles_txt_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,911},{75,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,33}}</string>
                <key>sourceSize</key>
                <string>{75,33}</string>
            </dict>
            <key>buy_nobles_txt_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,911},{124,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,35}}</string>
                <key>sourceSize</key>
                <string>{124,35}</string>
            </dict>
            <key>buy_nobles_txt_rmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,911},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buy_nobles.png</string>
            <key>size</key>
            <string>{527,947}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:691ce7d398a67ea39754f45f2beb73e7:1/1$</string>
            <key>textureFileName</key>
            <string>buy_nobles.png</string>
        </dict>
    </dict>
</plist>
