<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>imgvip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,772},{369,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,255}}</string>
                <key>sourceSize</key>
                <string>{369,255}</string>
            </dict>
            <key>imgvip10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,772},{369,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,255}}</string>
                <key>sourceSize</key>
                <string>{369,255}</string>
            </dict>
            <key>imgvip11.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,515},{369,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,255}}</string>
                <key>sourceSize</key>
                <string>{369,255}</string>
            </dict>
            <key>imgvip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,515},{369,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,255}}</string>
                <key>sourceSize</key>
                <string>{369,255}</string>
            </dict>
            <key>imgvip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,515},{369,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,255}}</string>
                <key>sourceSize</key>
                <string>{369,255}</string>
            </dict>
            <key>imgvip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,258},{369,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,255}}</string>
                <key>sourceSize</key>
                <string>{369,255}</string>
            </dict>
            <key>imgvip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,258},{369,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,255}}</string>
                <key>sourceSize</key>
                <string>{369,255}</string>
            </dict>
            <key>imgvip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,258},{369,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,255}}</string>
                <key>sourceSize</key>
                <string>{369,255}</string>
            </dict>
            <key>imgvip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1},{369,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,255}}</string>
                <key>sourceSize</key>
                <string>{369,255}</string>
            </dict>
            <key>imgvip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1},{369,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,255}}</string>
                <key>sourceSize</key>
                <string>{369,255}</string>
            </dict>
            <key>imgvip9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{369,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,255}}</string>
                <key>sourceSize</key>
                <string>{369,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>noble_icon.png</string>
            <key>size</key>
            <string>{1113,1113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:282168785ec302817e494177140f5283:1/1$</string>
            <key>textureFileName</key>
            <string>noble_icon.png</string>
        </dict>
    </dict>
</plist>
