<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>piaodai_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{381,145}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{381,145}}</string>
                <key>sourceSize</key>
                <string>{397,151}</string>
            </dict>
            <key>piaodai_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{381,145}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{381,145}}</string>
                <key>sourceSize</key>
                <string>{397,151}</string>
            </dict>
            <key>piaodai_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{381,145}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{381,145}}</string>
                <key>sourceSize</key>
                <string>{397,151}</string>
            </dict>
            <key>piaodai_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{381,145}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{381,145}}</string>
                <key>sourceSize</key>
                <string>{397,151}</string>
            </dict>
            <key>piaodai_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{381,145}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{381,145}}</string>
                <key>sourceSize</key>
                <string>{397,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>streamer.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f3b657708900b5a505b2bc09477eaf4:1/1$</string>
            <key>textureFileName</key>
            <string>streamer.png</string>
        </dict>
    </dict>
</plist>
