library/
temp/
local/
build/
packages/
settings

*.sln
*.csproj
*.pidb
*.unityproj
*.suo

.DS_Store
ehthumbs.db
Thumbs.db
creator.d.ts
project.json
jsconfig.json

*.log
*.sql
*.sqlite

.idea/
*.err
*.err.meta