<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nobles_bg_lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,1},{4,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,89}}</string>
                <key>sourceSize</key>
                <string>{4,89}</string>
            </dict>
            <key>nobles_bg_scene.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>nobles_bg_surplus_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1327},{227,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,44}}</string>
                <key>sourceSize</key>
                <string>{227,44}</string>
            </dict>
            <key>nobles_btn_back_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,1059},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>nobles_btn_dredge_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,205},{202,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,82}}</string>
                <key>sourceSize</key>
                <string>{202,82}</string>
            </dict>
            <key>nobles_btn_nobcontrast_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1327},{152,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,52}}</string>
                <key>sourceSize</key>
                <string>{152,52}</string>
            </dict>
            <key>nobles_btn_nobfaq_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1327},{152,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,52}}</string>
                <key>sourceSize</key>
                <string>{152,52}</string>
            </dict>
            <key>nobles_btn_renew_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,723},{202,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,82}}</string>
                <key>sourceSize</key>
                <string>{202,82}</string>
            </dict>
            <key>nobles_btn_upgrade_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1},{202,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,82}}</string>
                <key>sourceSize</key>
                <string>{202,82}</string>
            </dict>
            <key>nobles_icon_privilege_active_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,1220},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>nobles_icon_privilege_arena_effect_br.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1126},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>nobles_icon_privilege_arena_effect_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,965},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>nobles_icon_privilege_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,871},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>nobles_icon_privilege_colours_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,777},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>nobles_icon_privilege_dredge_inform.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1243},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>nobles_icon_privilege_exchange_scale.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,1149},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>nobles_icon_privilege_exclusive_arena_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,1056},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>nobles_icon_privilege_exclusive_duke_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,963},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>nobles_icon_privilege_exclusive_emperor_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,870},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>nobles_icon_privilege_exclusive_king_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,777},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>nobles_icon_privilege_exclusive_service.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,1277},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>nobles_icon_privilege_give_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1183},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>nobles_icon_privilege_safe_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,1089},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>nobles_icon_privilege_sign_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,995},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>nobles_icon_privilege_signin_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,901},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>nobles_icon_privilege_special_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,807},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>nobles_icon_privilege_special_pic_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1279},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>nobles_icon_privilege_upline_inform.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1185},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>nobles_img_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1213},{986,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{986,112}}</string>
                <key>sourceSize</key>
                <string>{986,112}</string>
            </dict>
            <key>nobles_text_brands_common_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1327},{160,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,52}}</string>
                <key>sourceSize</key>
                <string>{160,52}</string>
            </dict>
            <key>nobles_text_brands_common_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1131},{160,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,52}}</string>
                <key>sourceSize</key>
                <string>{160,52}</string>
            </dict>
            <key>nobles_text_brands_common_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1077},{160,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,52}}</string>
                <key>sourceSize</key>
                <string>{160,52}</string>
            </dict>
            <key>nobles_text_brands_common_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1023},{160,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,52}}</string>
                <key>sourceSize</key>
                <string>{160,52}</string>
            </dict>
            <key>nobles_text_brands_duke.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,969},{160,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,52}}</string>
                <key>sourceSize</key>
                <string>{160,52}</string>
            </dict>
            <key>nobles_text_brands_earl.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,915},{160,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,52}}</string>
                <key>sourceSize</key>
                <string>{160,52}</string>
            </dict>
            <key>nobles_text_brands_emperor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,571},{160,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,52}}</string>
                <key>sourceSize</key>
                <string>{160,52}</string>
            </dict>
            <key>nobles_text_brands_king.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,861},{160,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,52}}</string>
                <key>sourceSize</key>
                <string>{160,52}</string>
            </dict>
            <key>nobles_text_brands_knight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,409},{160,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,52}}</string>
                <key>sourceSize</key>
                <string>{160,52}</string>
            </dict>
            <key>nobles_text_brands_ranger.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,723},{160,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,52}}</string>
                <key>sourceSize</key>
                <string>{160,52}</string>
            </dict>
            <key>nobles_text_brands_viscount.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,807},{160,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,52}}</string>
                <key>sourceSize</key>
                <string>{160,52}</string>
            </dict>
            <key>scene_bg_slide_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,723},{914,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{914,488}}</string>
                <key>sourceSize</key>
                <string>{914,488}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>noble.png</string>
            <key>size</key>
            <string>{1381,1381}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:159aa2b7f854e04a08c88ebf7a4dcdab:1/1$</string>
            <key>textureFileName</key>
            <string>noble.png</string>
        </dict>
    </dict>
</plist>
